[submodule "web-blog-astro"]
	path = web-blog-astro
	url = git@github.com:dmedina2150dev/web-blog-astro.git
[submodule "01-foundation"]
	path = 01-foundation
	url = git@github.com:dmedina2150dev/01-foundations-astro.git
[submodule "02-pokemon-static"]
	path = 02-pokemon-static
	url = git@github.com:dmedina2150dev/02-pokemon-static.git
[submodule "03-blog-astro"]
	path = 03-blog-astro
	url = git@github.com:dmedina2150dev/03-blog-astro.git
[submodule "04-themes"]
	path = 04-themes
	url = git@github.com:dmedina2150dev/04-themes.git
[submodule "05-astro-http"]
	path = 05-astro-http
	url = git@github.com:dmedina2150dev/05-astro-http.git
